{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="header"><h3 class="text-center">新規登録</h3></div>
        <section class="common-form w-50 mx-auto">
            <form method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <span class="text-danger">{{ form.errors }}</span>
                {% endif %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}"
                           class="col-form-label col-form-label-sm py-0">{{ form.username.label }}</label>
                    {{ form.username|add_class:"form-control form-control-sm" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.channel_id.id_for_label }}"
                           class="col-form-label col-form-label-sm py-0">{{ form.channel_id.label }}</label>
                    {{ form.channel_id|add_class:"form-control form-control-sm" }}
                    <span class="small">Youtubeトップページ→右上のユーザーアイコン→チャンネルのURLから確認できます。</span>
                    <a class="toggle-img small" data-toggle="modal" data-target="#img-modal" href="#">詳細</a>
                </div>
                <div class="form-group">
                    <label for="{{ form.nickname.id_for_label }}"
                           class="col-form-label col-form-label-sm py-0">{{ form.nickname.label }}</label>
                    {{ form.nickname|add_class:"form-control form-control-sm" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}"
                           class="col-form-label col-form-label-sm py-0">{{ form.email.label }}</label>
                    {{ form.email|add_class:"form-control form-control-sm" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}"
                           class="col-form-label col-form-label-sm py-0">{{ form.password1.label }}</label>
                    {{ form.password1|add_class:"form-control form-control-sm" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}"
                           class="col-form-label col-form-label-sm py-0">{{ form.password2.label }}</label>
                    {{ form.password2|add_class:"form-control form-control-sm" }}
                </div>
                <button type="submit" class="btn btn-info mt-2">Sign up</button>
            </form>
        </section>
    </div>
    <div class="modal fade" id="img-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="{% static 'images/ChannelIdDesc.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
