{% if user.is_superuser %}
<div class="custom-control custom-switch">
    <input type="checkbox" {% if s.is_freechat %}checked {% endif %}class="custom-control-input"
           id="id_is_{{ type }}_{{ i }}{% if j %}_{{ j }}{% endif %}"
           onclick="moveToFreechat(this, &#39;#{{ type }}_item_{{ i }}{% if j %}_{{ j }}{% endif %}&#39;, &#39;{% url "api:set_is_freechat" %}&#39;);">
    <label for="id_is_{{ type }}_{{ i }}{% if j %}_{{ j }}{% endif %}"
           class="custom-control-label"><small>チャットルーム</small></label>
</div>
    <div>
<button type="button" class="btn btn-sm btn-outline-danger py-0 del-btn float-right mb-1"
        onclick="remove_modal(&#39;.remove-confirm-modal&#39;, &#39;#{{ type }}_item_{{ i }}{% if j %}_{{ j }}{% endif %}&#39;, &#39;{% url 'api:remove_stream' %}&#39;)">削除
</button>
    </div>
{% endif %}
<div>
    <button type="button" class="del-btn btn btn-sm btn-outline-danger py-0 float-right mb-1"
        onclick="">削除
</button>
</div>
<div>
    <a class="channel-btn btn btn-sm btn-outline-info py-0 float-right mb-1" href="./channel/{{ s.channel_id }}" target="_blank">Channel Detail</a>
</div>