<div class="card m-1 px-1 pt-1 pb-0 border-{% if type == "live" %}danger{% else %}dark{% endif %} {% if s in notice_list %}border-notice{% endif %}">
    <div>
        <a href="https://www.youtube.com/watch?v={{ s.video_id }}" target="_blank">
            <img class="bd-placeholder-img card-img-top" src="{{ s.thumb }}" alt="">
        </a>
        <div>
            <small class="position-absolute"
                   style="background: rgba(45,45,45,0.75); color: whitesmoke; transform: translateY(-100%); border-top-right-radius: .25rem"
            >{{ s.start_at|date:"Y/n/j G:i" }}</small></div>
    </div>
    <div class="card-body p-1 my-1 ">
        <a href="https://www.youtube.com/watch?v={{ s.video_id }}" target="_blank">
            <small class="card-text text-dark mb-auto">{{ s.title }}</small>
        </a>
    </div>
    <div class="card-footer py-1 px-2 bg-transparent">
        {% if type != "live" %}
            <div class="float-left align-middle text-center h-100" style="width: 2rem" tabindex="0" role="button"
                 data-toggle="popover" data-placement="top"
                 data-content='{% include "web/card_popover.html" with i=i j=j type=type s=s %}'>
                <i class="fas fa-lg fa-ellipsis-v h-100 mx-auto"></i>
            </div>
        {% endif %}
        <a class="btn-sm btn-danger float-right"
           href="https://www.youtube.com/channel/{{ s.channel.channel_id }}" target="_blank"><i
                class="fab fa-youtube"></i></a>
    </div>
</div>
