{% extends "base.html" %}
{% block content %}
    This is Channel Detail page.
    {% comment %}
    TODO 配信予定と配信中をカードで表示
    TODO 再取得ボタン
    {% endcomment %}
    <p>{{ channel.title }}</p>
    <a href="{% url "api:get_stream" %}?channelId={{ channel.channel_id }}">Reload</a>
    <div class="row border border-dark rounded my-2 px-4 py-2" id="upcoming_streams">
        <h2 class="w-100">-- Stream List --</h2>
        <div class="row w-100">
            {% for stream in stream_list %}
                <div class="col-md-2 px-0 d-flex align-items-stretch yt-item yt-upcoming"
                     id="upcoming_item_{{ forloop.counter }}">
                    {% include "web/card.html" with s=stream i=forloop.counterr type="upcoming" user=user %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "web/../notify/notify_modal.html" %}
    <script>
        (function () {
            window.addEventListener("load", function () {
                $('[data-toggle="popover"]').popover(
                    {
                        trigger: "focus",
                        html: true,
                        offset: "100",
                        sanitize: false
                    }
                );
            });
        })();
    </script>

{% endblock %}